* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.mainpage-filters {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
}

.loading {
    text-align: center;
    font-size: 2rem;
}
