.page__wrapper {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.page {
    padding: 7px 14px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.page:not(:last-child) {
    margin-right: 10px;
}

.page__current {
    border: 2px solid #000;
    font-weight: bold;
}
